
<div class="log-view">
          <a href="/profile">
            <p><i class="fas fa-angle-left fa-2x icon"></i></p>
        </a>
  <h1>{{selectedDay.name}} / {{selectedMonth.name}} / 20{{selectedMonth.year}}</h1>
</div>

<div>
  <canvas class="chart-canvas" id="chart"></canvas>
</div>

<div class="statistics">
  <h2 class="title-text">NUTRIENTS</h2>
  <hr>
  <div class="stat-list">
  <div class="stat">
    <h4>Calories<br> <strong>{{selectedDay.totalKcal}} / {{recommendedCalories}}cal</strong></h4>
  </div>
  <div class="stat">
    <h4>Carbs<br> <strong>{{selectedDay.totalCarbs}}g</strong></h4>
  </div>
  <div class="stat">
    <h4>Protein<br> <strong>{{selectedDay.totalProtein}}g</strong></h4>
  </div>
  <div class="stat">
    <h4>Fat<br> <strong>{{selectedDay.totalFat}}g</strong></h4>
  </div>
  </div>

</div>

<div class="daily-add-food">
  <a href="/{{selectedMonth.userId}}/folder/{{selectedMonth._id}}/{{selectedDay.name}}">ADD FOOD</a>
</div>

<div class="daily-food-list">
  <h2 class="title-text">EATEN TODAY</h2>
  <hr>
  <ul>
    {{#each selectedDay.foods}}
        <li><div class="food-item">
            <div class="food-item-head"> 
                <h4>{{name}}</h4>
                <h4>{{amount}}g</h4>
            </div>
            <div class="food-item-body"> 
                <div>
                    <p>Calories</p>
                    <p><strong>{{nutrients.Kcal}}</strong>cal</p>
                </div>
                <div>
                    <p>Carbs</p>
                    <p><strong>{{nutrients.carb}}</strong>g</p>
                </div>
                <div>
                    <p>Protein</p>
                    <p><strong>{{nutrients.prot}}</strong>g</p>
                </div>
                <div>
                    <p>Fat</p>
                    <p><strong>{{nutrients.fat}}</strong>g</p>
                </div>
            </div>  
        </div></li>
    {{/each}}
  </ul>
</div>

{{!-- <script src="/scripts/chartDaily.js"></script> --}}

<script>
  window.onload = function() {
  const $canvas = document.getElementById('chart');
  const $context = $canvas.getContext('2d');

  const foodItems = {{{ json selectedDay.foods}}};
  let foodNames = [];
  let foodKcal = [];
  let foodCarb = [];
  let foodProtein = [];
  let foodFat = [];
  console.log(foodItems);

  for(let food of foodItems) {
    foodNames.push(food.name)
    foodKcal.push(food.nutrients.Kcal);
    foodCarb.push(food.nutrients.carb);
    foodProtein.push(food.nutrients.prot);
    foodFat.push(food.nutrients.fat);
  }
  foodNames.push('Total');
  foodKcal.push({{{ json selectedDay.totalKcal}}});
  foodCarb.push({{{ json selectedDay.totalCarbs}}});
  foodProtein.push({{{ json selectedDay.totalProtein}}});
  foodFat.push({{{ json selectedDay.totalFat}}});

  const data = {
    labels: foodNames,
    datasets: [
      {
        label: 'Kcal',
        backgroundColor: '#EC8288',
        borderColor: 'white',
        data: foodKcal,
      },
      {
        label: 'Carbs',
        backgroundColor: '#884FCF',
        borderColor: 'white',
        data: foodCarb,
      },
      {
        label: 'Protein',
        backgroundColor: '#FBD71D',
        borderColor: 'white',
        data: foodProtein,
      },
      {
        label: 'Fat',
        backgroundColor: '#E89924',
        borderColor: 'white',
        data: foodFat,
      },
    ],
  };

  const chart = new Chart($context, {
    //data
    type: 'horizontalBar',
    data: data,
    options: {
      //options
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Daily consumption info:',
      },
    },
  });
  };
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>