
<div class="log-view">
  <h1>Viewing daily log for: {{selectedDay.name}}/{{selectedMonth.name}}/{{selectedMonth.year}}</h1>
</div>

<div>
  <canvas class="chart-canvas"></canvas>
</div>

<div class="statistics">
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Calories: {{selectedDay.totalKcal}}/{{recommendedCalories}}</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Carbs: {{selectedDay.totalCarbs}}</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Protein: {{selectedDay.totalProtein}}</h4>
  </div>
  <div class="stat">
    <input type="checkbox" name="" id="">
    <h4>Fat: {{selectedDay.totalFat}}</h4>
  </div>
</div>

<div class="daily-add-food">
  <a href="">Add Food</a>
</div>

<div class="daily-food-list">
  <h3>Eaten Today:</h3>
  <hr>
  <ul>
    {{#each selectedDay.foods}}
        <li><div class="daily-food-item">
      <h5>{{name}}</h5>
      <h5>Calories: {{nutrients.Kcal}}</h5>
    </div></li>
    {{/each}}
  </ul>
</div>

