<div class="log-view">
  <h1>{{selectedMonth.name}} / {{selectedMonth.year}}</h1>
</div>

<div>
  <canvas class="chart-canvas" id="chart"></canvas>
</div>

<div class="statistics">
  <h2 class="title-text">MONTH TOTAL</h2>
  <hr>
  <div class="stat-list">
  <div class="stat">
    <h4>Calories<br> <strong>{{ selectedMonth.totalKcal }}cal</strong></h4>
  </div>
  <div class="stat">
    <h4>Carbs<br> <strong>{{ selectedMonth.totalCarbs }}g</strong></h4>
  </div>
  <div class="stat">
    <h4>Protein<br> <strong>{{ selectedMonth.totalProtein }}g</strong></h4>
  </div>
  <div class="stat">
    <h4>Fat<br> <strong>{{ selectedMonth.totalFat }}g</strong></h4>
  </div>
  </div>
</div>

<div class="month-information">
  <div>
    <canvas class="month-pie-chart" id="pie-chart"></canvas>
  </div>
  <div class="category-info">
    <div class="category-header">
      <h4 class="title-text">CATEGORY</h4>
      <h4 class="title-text">QTY</h4>
    </div>
    <hr>
    <div class="category-contents">
      <ul>
        {{#each categories}}
        <li>
          <h5 class="name">{{@key}}</h5>
          <h5 class="quantity">{{this}}</h5>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
  const $canvas = document.getElementById('chart');
  const $context = $canvas.getContext('2d');

  const $canvasPie = document.getElementById('pie-chart');
  const $contextPie = $canvasPie.getContext('2d');

  const month = {{{ json selectedMonth}}};
  const days = {{{ json selectedMonth.day}}};
  const categories = {{{ json categories}}}

  let weekOneNutrients = {Kcal: 0, Carbs: 0, Protein: 0, Fat: 0};
  let weekTwoNutrients = {Kcal: 0, Carbs: 0, Protein: 0, Fat: 0};
  let weekThreeNutrients = {Kcal: 0, Carbs: 0, Protein: 0, Fat: 0};
  let weekFourNutrients = {Kcal: 0, Carbs: 0, Protein: 0, Fat: 0};

  for(let day of days) {
    switch(true) {
      case Number(day.name) <= 7:
        weekOneNutrients.Kcal += day.totalKcal;
        weekOneNutrients.Carbs += day.totalCarbs;
        weekOneNutrients.Protein += day.totalProtein;
        weekOneNutrients.Fat += day.totalFat;
        break;
      case Number(day.name) <= 14:
        weekTwoNutrients.Kcal += day.totalKcal;
        weekTwoNutrients.Carbs += day.totalCarbs;
        weekTwoNutrients.Protein += day.totalProtein;
        weekTwoNutrients.Fat += day.totalFat;
        break;
      case Number(day.name) <= 21:
        weekThreeNutrients.Kcal += day.totalKcal;
        weekThreeNutrients.Carbs += day.totalCarbs;
        weekThreeNutrients.Protein += day.totalProtein;
        weekThreeNutrients.Fat += day.totalFat;
        break;
      case Number(day.name) <= 31:
        weekFourNutrients.Kcal += day.totalKcal;
        weekFourNutrients.Carbs += day.totalCarbs;
        weekFourNutrients.Protein += day.totalProtein;
        weekFourNutrients.Fat += day.totalFat;
        break;
      
    }
  }
    const weekKcal = [weekOneNutrients.Kcal, weekTwoNutrients.Kcal, weekThreeNutrients.Kcal, weekFourNutrients.Kcal, month.totalKcal]
    const weekCarbs = [weekOneNutrients.Carbs, weekTwoNutrients.Carbs, weekThreeNutrients.Carbs, weekFourNutrients.Carbs, month.totalCarbs]
    const weekProtein = [weekOneNutrients.Protein, weekTwoNutrients.Protein, weekThreeNutrients.Protein, weekFourNutrients.Protein, month.totalProtein]
    const weekFat = [weekOneNutrients.Fat, weekTwoNutrients.Fat, weekThreeNutrients.Fat, weekFourNutrients.Fat, month.totalFat]

  const data = {
    labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Total'],
    datasets: [
      {
        label: 'Kcal',
        backgroundColor: '#EC8288',
        borderColor: 'white',
        data: weekKcal,
      },
      {
        label: 'Carbs',
        backgroundColor: '#884FCF',
        borderColor: 'white',
        data: weekCarbs,
      },
      {
        label: 'Protein',
        backgroundColor: '#FBD71D',
        borderColor: 'white',
        data: weekProtein,
      },
      {
        label: 'Fat',
        backgroundColor: '#E89924',
        borderColor: 'white',
        data: weekFat,
      },
    ],
  };

  const chart = new Chart($context, {
    //data
    type: 'horizontalBar',
    data: data,
    options: {
      //options
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Monthly consumption info:',
      },
    },
  });

  let categoryList = Object.keys(categories);
  let quantities = Object.values(categories);
console.log(categoryList);

  const data_pie = {
    labels: categoryList,
    datasets: [
      {
        label: 'Kcal',
        backgroundColor: ['#EC8288', '#884FCF', '#FBD71D', '#E89924'],
        borderColor: 'white',
        data: quantities,
      },
    ],
  };

  const chart_pie = new Chart($contextPie, {
    //data
    type: 'pie',
    data: data_pie,
    options: {
      //options
      legend: {
            labels: {
              fontColor: 'white'
            }
        },
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: false,
        text: 'Monthly consumption info:',
      },
    },
  });

  };
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>