
<div class="profile-info">
  <h2 class="title-text">PROFILE DETAILS</h2>
  <hr>
  <div class="profile-details">
    <div>
      <h4>Name</h4>
      <h5>{{ user.name }}</h5>
    </div>
    <div>
     <h4>Email</h4>
     <h5>{{ user.email }}</h5>
    </div>
    <div>
      <h4>Age</h4>
      <h5>{{ user.age }}</h5>
    </div>
    <div>
      <h4>Gender</h4>
      <h5>{{ user.gender }}</h5>
    </div>
  </div>
  
<div class="edit-profile-button">
  <a href="/profile/edit">Edit Profile</a>
</div>
</div>


<div class="log-management">
  <h2 class="title-text">VIEW LOGS</h2>
  <hr>

  <div class="report-view">
  <form action="/profile/daily">
    <label for="year-input">Year</label>
    <input type="number" name="year" id="year-input" min="20" required>
    <label for="month-input">Month</label>
    <select name="month" id="month-input">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <label for="day-input">Day</label>
    <input type="number" name="day" id="day-input" min="1" max="31" required>
    <button>Daily Report</button>
  </form>

    <form action="/profile/monthly">
    <label for="year-input">Year</label>
    <input type="number" name="year" id="year-input" min="20" required>
    <label for="month-input">Month</label>
    <select name="month" id="month-input">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <button>Monthly Report</button>
  </form>
  </div>

  <a href="/{{ user._id}}/folder">Manage Logs</a>
  
</div>