
<div class="profile-info">
  <h2 class="title-text">PROFILE DETAILS</h2>
  <hr>
  <div class="profile-details">
    <div>
      <img src="{{ user.profilePic }}" alt="">
    </div>
    <div>
      <h2>{{ user.name }} - {{user.age}}, {{user.gender}}</h2>
      <h4>{{ user.email }}</h4>
    </div>
    <div>
    </div>
  </div>
  
<div class="edit-profile-button">
  <a href="/profile/edit">Edit Profile</a>
</div>
</div>

<div class="lookup">
    <h2 class="title-text">QUICK LOOKUP</h2>
    <hr>
    <div class="lookup-container">
    <form action="search" class="sign-in">
    <input type="text" name="name" placeholder="Quick Lookup" required>
    <input type="hidden" name="direction" value="1">
    <input type="hidden" name="session" value="-1">
    <button>Lookup</button>
    </form>
    </div>
</div>


<div class="log-management">
  <h2 class="title-text">DAILY REPORT</h2>
  <hr>

  <div class="report-view">
  <form action="/profile/daily">
    <select name="year" id="year-input" required>
      <option value="">Year</option>
      <option value="20">2020</option>
      <option value="21">2021</option>
      <option value="22">2022</option>
      <option value="23">2023</option>
      <option value="24">2024</option>
      <option value="25">2025</option>
      <option value="26">2026</option>
      <option value="27">2027</option>
      <option value="28">2028</option>
      <option value="29">2029</option>
      <option value="30">2030</option>
      <option value="31">2031</option>
    </select>
    <select name="month" id="month-input" required>
      <option value="">Month</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <select name="day" id="day-input">
      <option value="">Day</option>
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <button>View</button>
  </form>
  </div>
</div>
  <div class="log-management">
  <h2 class="title-text">MONTHLY REPORT</h2>
  <hr>

  <div class="report-view">
    <form action="/profile/monthly">
        <select name="year" id="year-input" required>
      <option value="">Year</option>
      <option value="20">2020</option>
      <option value="21">2021</option>
      <option value="22">2022</option>
      <option value="23">2023</option>
      <option value="24">2024</option>
      <option value="25">2025</option>
      <option value="26">2026</option>
      <option value="27">2027</option>
      <option value="28">2028</option>
      <option value="29">2029</option>
      <option value="30">2030</option>
      <option value="31">2031</option>
    </select>
    <select name="month" id="month-input" required>
      <option value="">Month</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <button>View</button>
  </form>
  </div>

  
</div>