<div class="log-view">
    <a href="/">
        <p><i class="fas fa-angle-left fa-2x icon"></i></p>
    </a>
  <h1>Quick Lookup</h1>
</div>
{{#each foodData}}
{{#if food}}
<a href="/food/{{ food.foodId }}">
<div class="searched-item card">
            <div class="searched-item-info">
                <div class="searched-item-title">
                    <p>{{ food.label }}</p>
                </div>
                <div class="food-item-body"> 
                    <div>
                        <p>Calories</p>
                        <h5><strong>{{food.nutrients.ENERC_KCAL}}cal</strong></h5>
                    </div>
                    <div>
                        <p>Carbs</p>
                        <h5><strong>{{food.nutrients.CHOCDF}}g</strong></h5>
                    </div>
                    <div>
                        <p>Protein</p>
                        <h5><strong>{{food.nutrients.PROCNT}}g</strong></h5>
                    </div>
                    <div>
                        <p>Fat</p>
                        <h5><strong>{{food.nutrients.FAT}}g</strong></h5>
                    </div>
                </div>
            </div>         
        </div>
</a> 
{{/if}}
{{/each}}

<form action="/search">
<input type="hidden" name="session" value="{{ nextPage }}">
<input type="hidden" name="direction" value="1">
<input type="hidden" name="name" value="{{searchTerm}}">
  <button>Next Page</button>
</form>

<form action="/search">
<input type="hidden" name="session" value="{{ nextPage }}">
<input type="hidden" name="direction" value="-1">
<input type="hidden" name="name" value="{{searchTerm}}">
  <button>Previous Page</button>
</form>

<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>