<header>
    <div class="title">
        <a href="/profile">
            <p><i class="fas fa-angle-left fa-2x icon"></i></p>
        </a>
        <h1>Months</h1>
        <span id="delete" class="fas fa-trash-alt fa-2x icon"></span>
        
    </div>    
</header>
<section class="container">
    <div class="card-list">
        {{#each months}}
            <a href="/{{userId}}/folder/{{_id}}">
                <div class="card">
                    <form class="delete" style="display:none" action="/{{userId}}/folder/{{_id}}/delete" method="POST">
                        <button>X</button>
                        
                    </form>
                    <h3 class="month-title">{{name}}/{{year}}</h3>
                    <h2 class="kcal-text">{{totalKcal}}-{{day.length}}</h2>
                    <p>Daily avg Kcals</p>
                </div>
            </a>
        {{/each}}
    </div>
</section>
<section class="form-container">
    
    <div class="add-box">
        <form class="add-form" action="/{{user._id}}/folder/create" method="POST">
            <div class="month-inputs">
                <div>
                    {{!-- <label for="month-input">Month</label> --}}
                    <select name="month" id="month">
                        <option value="January" selected>January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                        
                    </select>
                </div>
                <div>
                    {{!-- <label for="year-input">Year</label> --}}
                    <select name="year" id="year">
                        <option value="20" selected>2020</option>
                        <option value="21">2021</option>
                    </select>
                </div>
            </div>
            <button class="square-btn">ADD</button>
        </form>
    </div>

</section>

<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>
<script>
    $delete = document.getElementById("delete");
    $links = document.getElementsByClassName("delete");
    clicked = false;
    $delete.addEventListener("click", (event)=>{
        clicked = !clicked;
        if(clicked){
            for(let link of $links){
                link.style = "";
                
            }
        }else{
            for(let link of $links){
                link.style = "display:none";
            }
        }
        
        console.log("delete");
    });
</script>

<script>
    $avgKcalTag = document.getElementsByClassName("kcal-text");
    
    for(let tag of $avgKcalTag){
        const arr = tag.innerText.split("-");
        const totalKcal = arr[0];
        const days = arr[1];
        console.log(arr);
        if(days == "0" || totalKcal == "0"){
            tag.innerText = "---";
        }else{
            tag.innerText = totalKcal/days;
        }
        
    }
</script>
