<header>
    <div class="title">
        <a href="/{{user._id}}/folder/{{monthId}}"> <p><i class="fas fa-angle-left fa-2x icon"></i></p></a>
        <h1>{{month.name}} {{dayLog.name}}</h1>
        <span id="delete" class="fas fa-trash-alt fa-2x  icon"></span>
    </div>   
</header>

<section class="search">
    
        <form class="search-form" action="/{{user._id}}/folder/{{monthId}}/{{dayLog.name}}/add" method="GET">
            <input type="text" name="name" placeholder="   food" id="">
            <input type="hidden" name="direction" value="1">
            <input type="hidden" name="session" value="-1">
            <button>Search</button>
        </form>
     
</section>
<section class="container">
    
    {{#each dayLog.foods}}

        <div class="searched-item card">
            <div class="searched-item-img">
                <img src="{{pictureUrl}}" alt="">
            </div>
            <div class="searched-item-info">
                <div class="searched-item-title">
                
                    <p>{{amount}}g - {{name}}</p>
                </div>
                <div class="food-item-body"> 
                    <div class="kcal-text">
                        <h5>{{nutrients.Kcal}}</h5>
                        <p>Kcal</p>
                    </div>
                    <div class="carb-text">
                        <h5>{{nutrients.carb}}</h5>
                        <p>carb</p>
                    </div>
                    <div class="protein-text">
                        <h5>{{nutrients.prot}}</h5>
                        <p>prot</p>
                    </div>
                    <div class="fat-text">
                        <h5>{{nutrients.fat}}</h5>
                        <p>fat</p>
                    </div>
                    
                    <form class="deleteFood" style="display:none" action="/{{../userId}}/folder/{{../monthId}}/{{../dayLog.name}}/{{_id}}/delete" method="POST">
                        <button>X</button>                  
                    </form>
                </div>


            </div>
              
        </div>
    
    {{/each}}
    
</section>

<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>

<script>
    $delete = document.getElementById("delete");
    $links = document.getElementsByClassName("deleteFood");
    clicked = false;
    $delete.addEventListener("click", (event)=>{
        clicked = !clicked;
        if(clicked){
            for(let link of $links){
                link.style = "";
                
            }
        }else{
            for(let link of $links){
                link.style = "display:none";
            }
        }
        
        console.log("delete");
    });
</script>



