<header>
    <div>
        <h1>{{month.name}}/{{month.year}}</h1>
    </div>    
</header>
<section>
    {{#each month.day}}
    <a href="/{{ ../month.userId}}/folder/{{../month._id}}/{{name}}">
    <div class="card">
        <p>{{name}}</p>
    </div>
    </a>
    {{/each}}
</section>
<section>
    <div class="add-btn-circle">+</div>
    <div class="add-box">
        <form action="/{{user._id}}/folder/{{month._id}}/createlog" method="POST">
            <label for="day-input">Day</label>
            <select name="day" id="day">
                <option value="01">01</option>
                <option value="02">02</option>
            </select>
            <button class="square-btn">ADD</button>
            <button class="square-btn" onclick="cancel()">CANCEL</button>
        </form>
    </div>

</section>