<header>
    <div class="title">
        <h1>{{month.name}}/{{month.year}}<span id="delete" class="fas fa-trash-alt trash"></span></h1>
    </div>    
</header>
<section  class="container">
     <div class="card-list">
    {{#each month.day}}
       
            <a href="/{{ ../month.userId}}/folder/{{../month._id}}/{{name}}">
                <div class="card">

                    <form class="delete" style="display:none" action="/{{ ../month.userId}}/folder/{{../month._id}}/{{name}}/delete" method="POST">
                        <button>X</button>
                        
                    </form>
                    <div class="day-card">
                        <div class="day-title">
                            <h3>{{name}}</h3>
                        </div>
                        <div class="day-nutrients">
                             <div>
                                <h4>{{totalKcal}}</h4>
                                <p>Kcal</p>

                            </div>
                            <div>
                                 <h4>{{totalCarbs}}</h4>
                                <p>Carbs</p>   
                            </div>
                            <div>
                                <h4>{{totalProtein}}</h4>
                                <p>Protein</p>
                            </div>
                            <div>
                                <h4>{{totalFat}}</h4>
                                <p>Fat</p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </a>
        

    {{/each}}
    </div>
</section>
<section  class="form-container">
    
    <div class="add-box">
        <form class="add-form" action="/{{user._id}}/folder/{{month._id}}/createlog" method="POST">
            <div>
                <label for="day-input">Day</label>
                <select name="day" id="day">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                </select>

            </div>
            
            <button class="square-btn">ADD</button>
            
        </form>
    </div>

</section>
<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>

<script>
    $delete = document.getElementById("delete");
    $links = document.getElementsByClassName("delete");
    
    clicked = false;
    $delete.addEventListener("click", (event)=>{
        clicked = !clicked;
        if(clicked){
            for(let link of $links){
                link.style = "";
                
            }
        }else{
            for(let link of $links){
                link.style = "display:none";
            }
        }
        
        console.log("delete");
    });
</script>
