<header>
    <div class="title">
        <h1>{{month.name}}/{{month.year}}<span id="delete" class="fas fa-trash-alt"></span></h1>
    </div>    
</header>
<section  class="container">
    {{#each month.day}}
    <a href="/{{ ../month.userId}}/folder/{{../month._id}}/{{name}}">
    <div class="card">
        <p>{{name}}</p>
    </div>
    </a>
    {{/each}}
</section>
<section  class="form-container">
    
    <div class="add-box">
        <form class="add-form" action="/{{user._id}}/folder/{{month._id}}/createlog" method="POST">
            <div>
                <label for="day-input">Day</label>
                <select name="day" id="day">
                    <option value="01">01</option>
                    <option value="02">02</option>
                </select>

            </div>
            
            <button class="square-btn">ADD</button>
            
        </form>
    </div>

</section>
<script src="https://kit.fontawesome.com/49cb587e31.js" crossorigin="anonymous"></script>

<script>
    $delete = document.getElementById("delete");
    $delete.addEventListener("click", (event)=>{
        console.log("delete");
    });
</script>
